<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./common/head") %> 
    <title>List</title>
</head>
<body>
    <%- include("./common/navbar", {upper: "from parent"}) %> 

    <ul>
        <% for (let i = 0; i < drinks.length; i++) { %>
            <li>item <%= i + 1 %> is <%= drinks[i] %></li>
        <% }; %>
    </ul>
</body>
</html>